In [1]:
import pandas as pd
import numpy as np

In [16]:
reach = pd.read_csv('greentea_pmid_all_predicates_umls.tsv', sep='\t')
df_new = pd.DataFrame()

In [17]:
reach.head()

,seq,pmid,subject_cui,subject_name,subject_type,subject_source,subj_map_reach,predicate,object_source,object_cui,...,object_type,obj_map_reach,belief,sentence,pub_year,subject_score,object_score,umls_flag,subj_reach_grounding,obj_reach_grounding
0,0,30286210,C0017337,Genes,['gngm'],gene encoding SERCA2a,{'TEXT': 'gene encoding SERCA2a'},Acetylation,Histone_H3,C0019652,...,"['aapp', 'bacs']","{'FPLX': 'Histone_H3', 'TEXT': 'histone 3', 'N...",0.65,Our data indicate that increased HDAC1 activit...,2018,16.09,16.3,1,"(None, None)","('FPLX', 'Histone_H3')"
1,1,30286210,C0017337,Genes,['gngm'],gene encoding SERCA2a,{'TEXT': 'gene encoding SERCA2a'},Acetylation,Histone_H3,C0019652,...,"['aapp', 'bacs']","{'FPLX': 'Histone_H3', 'TEXT': 'histone 3', 'N...",0.65,Our data indicate that increased HDAC1 activit...,2018,16.09,16.3,1,"(None, None)","('FPLX', 'Histone_H3')"
2,2,25680958,C1562292,Incretins,"['aapp', 'horm', 'phsu']",incretin,{'TEXT': 'incretin'},Acetylation,Kv subunits,NaN,...,NaN,{'TEXT': 'Kv␤ subunits'},0.65,Modification of\nchannel proteins by acetylati...,2015 Apr,20.95,NaN,1,"(None, None)","(None, None)"
3,3,25680958,C1418880,PRDX2_gene,['gngm'],trichostatin A,"{'PUBCHEM': '444732', 'CHEBI': 'CHEBI:46024', ...",Acetylation,Tubulin,C0041348,...,"['aapp', 'bacs']","{'FPLX': 'Tubulin', 'NCIT': 'C17219', 'MESH': ...",0.65,It was reported that ␣-tubulin underwent\nlysi...,2015 Apr,5.18,17.8,1,"('CHEBI', 'CHEBI:46024')","('FPLX', 'Tubulin')"
4,4,23210776,C0059438,epigallocatechin_gallate,"['orch', 'phsu']",--epigallocatechin 3-gallate,"{'PUBCHEM': '65064', 'CHEBI': 'CHEBI:4806', 'C...",Acetylation,Histone,C0019652,...,"['aapp', 'bacs']","{'FPLX': 'Histone', 'CAS': '37244-51-2', 'MESH...",0.65,EGCG [177] \nand grape seed proanthocyanidi...,2013,14.64,17.8,1,"('CHEBI', 'CHEBI:4806')","('FPLX', 'Histone')"

In [18]:
df_new['subject_name'] = reach.subject_name
df_new['subject_cui'] = reach.subject_cui
df_new['subject_source'] = reach.subject_source
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11799 entries, 0 to 11798
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subject_name    10243 non-null  object
 1   subject_cui     10243 non-null  object
 2   subject_source  11473 non-null  object
dtypes: object(3)
memory usage: 276.7+ KB

In [19]:
df2 = pd.DataFrame()
df2['subject_name'] = reach.object_name
df2['subject_cui'] = reach.object_cui
df2['subject_source'] = reach.object_source
df_new = df_new.append(df2)

In [20]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23598 entries, 0 to 11798
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subject_name    20599 non-null  object
 1   subject_cui     20599 non-null  object
 2   subject_source  23053 non-null  object
dtypes: object(3)
memory usage: 737.4+ KB

In [21]:
df_new = df_new.drop_duplicates()
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4409 entries, 0 to 11796
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subject_name    3505 non-null   object
 1   subject_cui     3505 non-null   object
 2   subject_source  4408 non-null   object
dtypes: object(3)
memory usage: 137.8+ KB

In [22]:
df_new = df_new[pd.isna(df_new['subject_cui']) == False]
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3505 entries, 0 to 11796
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subject_name    3505 non-null   object
 1   subject_cui     3505 non-null   object
 2   subject_source  3505 non-null   object
dtypes: object(3)
memory usage: 109.5+ KB

In [23]:
df_new.head()

               subject_name subject_cui                subject_source
0                     Genes    C0017337         gene encoding SERCA2a
2                 Incretins    C1562292                      incretin
3                PRDX2_gene    C1418880                trichostatin A
4  epigallocatechin_gallate    C0059438  --epigallocatechin 3-gallate
5                 rosoxacin    C0073591                          ROS1

In [24]:
result = {}

In [25]:
def add_to_dict(row):
    result[row['subject_source']] = row['subject_cui']

In [26]:
df_new.apply(add_to_dict, axis=1)

0        None
2        None
3        None
4        None
5        None
         ...
11741    None
11742    None
11744    None
11758    None
11796    None
Length: 3505, dtype: object

In [27]:
len(result)

3301

In [28]:
result['Tea']

'C0039400'

In [29]:
def get_cui(row):
    name= row['agent_name']
    if name in result:
        return result[name]
    else:
        return 0

In [30]:
reach.head()

,seq,pmid,subject_cui,subject_name,subject_type,subject_source,subj_map_reach,predicate,object_source,object_cui,...,object_type,obj_map_reach,belief,sentence,pub_year,subject_score,object_score,umls_flag,subj_reach_grounding,obj_reach_grounding
0,0,30286210,C0017337,Genes,['gngm'],gene encoding SERCA2a,{'TEXT': 'gene encoding SERCA2a'},Acetylation,Histone_H3,C0019652,...,"['aapp', 'bacs']","{'FPLX': 'Histone_H3', 'TEXT': 'histone 3', 'N...",0.65,Our data indicate that increased HDAC1 activit...,2018,16.09,16.3,1,"(None, None)","('FPLX', 'Histone_H3')"
1,1,30286210,C0017337,Genes,['gngm'],gene encoding SERCA2a,{'TEXT': 'gene encoding SERCA2a'},Acetylation,Histone_H3,C0019652,...,"['aapp', 'bacs']","{'FPLX': 'Histone_H3', 'TEXT': 'histone 3', 'N...",0.65,Our data indicate that increased HDAC1 activit...,2018,16.09,16.3,1,"(None, None)","('FPLX', 'Histone_H3')"
2,2,25680958,C1562292,Incretins,"['aapp', 'horm', 'phsu']",incretin,{'TEXT': 'incretin'},Acetylation,Kv subunits,NaN,...,NaN,{'TEXT': 'Kv␤ subunits'},0.65,Modification of\nchannel proteins by acetylati...,2015 Apr,20.95,NaN,1,"(None, None)","(None, None)"
3,3,25680958,C1418880,PRDX2_gene,['gngm'],trichostatin A,"{'PUBCHEM': '444732', 'CHEBI': 'CHEBI:46024', ...",Acetylation,Tubulin,C0041348,...,"['aapp', 'bacs']","{'FPLX': 'Tubulin', 'NCIT': 'C17219', 'MESH': ...",0.65,It was reported that ␣-tubulin underwent\nlysi...,2015 Apr,5.18,17.8,1,"('CHEBI', 'CHEBI:46024')","('FPLX', 'Tubulin')"
4,4,23210776,C0059438,epigallocatechin_gallate,"['orch', 'phsu']",--epigallocatechin 3-gallate,"{'PUBCHEM': '65064', 'CHEBI': 'CHEBI:4806', 'C...",Acetylation,Histone,C0019652,...,"['aapp', 'bacs']","{'FPLX': 'Histone', 'CAS': '37244-51-2', 'MESH...",0.65,EGCG [177] \nand grape seed proanthocyanidi...,2013,14.64,17.8,1,"('CHEBI', 'CHEBI:4806')","('FPLX', 'Histone')"

In [31]:
df = pd.DataFrame()
df['agent_name'] = reach.subject_source
df['grounding'] = reach.subj_reach_grounding
df['mapping'] = reach.subj_map_reach

In [32]:
dfo = pd.DataFrame()
dfo['subject_name'] = reach.object_source
dfo['subject_cui'] = reach.obj_reach_grounding
dfo['subject_source'] = reach.subj_map_reach
df = df.append(dfo)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23598 entries, 0 to 11798
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   agent_name      11473 non-null  object
 1   grounding       11778 non-null  object
 2   mapping         11778 non-null  object
 3   subject_name    11580 non-null  object
 4   subject_cui     11799 non-null  object
 5   subject_source  11778 non-null  object
dtypes: object(6)
memory usage: 1.3+ MB

In [34]:
df['cui'] = df.apply(get_cui, axis=1)

In [35]:
df.head()

,agent_name,grounding,mapping,subject_name,subject_cui,subject_source,cui
0,gene encoding SERCA2a,"(None, None)",{'TEXT': 'gene encoding SERCA2a'},NaN,NaN,NaN,C0017337
1,gene encoding SERCA2a,"(None, None)",{'TEXT': 'gene encoding SERCA2a'},NaN,NaN,NaN,C0017337
2,incretin,"(None, None)",{'TEXT': 'incretin'},NaN,NaN,NaN,C1562292
3,trichostatin A,"('CHEBI', 'CHEBI:46024')","{'PUBCHEM': '444732', 'CHEBI': 'CHEBI:46024', ...",NaN,NaN,NaN,C1418880
4,--epigallocatechin 3-gallate,"('CHEBI', 'CHEBI:4806')","{'PUBCHEM': '65064', 'CHEBI': 'CHEBI:4806', 'C...",NaN,NaN,NaN,C0059438

In [36]:
df.head()

,agent_name,grounding,mapping,subject_name,subject_cui,subject_source,cui
0,gene encoding SERCA2a,"(None, None)",{'TEXT': 'gene encoding SERCA2a'},NaN,NaN,NaN,C0017337
1,gene encoding SERCA2a,"(None, None)",{'TEXT': 'gene encoding SERCA2a'},NaN,NaN,NaN,C0017337
2,incretin,"(None, None)",{'TEXT': 'incretin'},NaN,NaN,NaN,C1562292
3,trichostatin A,"('CHEBI', 'CHEBI:46024')","{'PUBCHEM': '444732', 'CHEBI': 'CHEBI:46024', ...",NaN,NaN,NaN,C1418880
4,--epigallocatechin 3-gallate,"('CHEBI', 'CHEBI:4806')","{'PUBCHEM': '65064', 'CHEBI': 'CHEBI:4806', 'C...",NaN,NaN,NaN,C0059438

In [39]:
save_df = pd.DataFrame()
save_df['agent_name'] = df['agent_name']
save_df['grounding'] = df['grounding']
save_df['other_mapping'] = df['mapping']
save_df['cui'] = df['cui']
save_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23598 entries, 0 to 11798
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   agent_name     11473 non-null  object
 1   grounding      11778 non-null  object
 2   other_mapping  11778 non-null  object
 3   cui            23598 non-null  object
dtypes: object(4)
memory usage: 921.8+ KB

In [40]:
save_df = save_df.drop_duplicates()

In [41]:
save_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3017 entries, 0 to 11792
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   agent_name     3009 non-null   object
 1   grounding      3016 non-null   object
 2   other_mapping  3016 non-null   object
 3   cui            3017 non-null   object
dtypes: object(4)
memory usage: 117.9+ KB

In [42]:
save_df.head()

,agent_name,grounding,other_mapping,cui
0,gene encoding SERCA2a,"(None, None)",{'TEXT': 'gene encoding SERCA2a'},C0017337
2,incretin,"(None, None)",{'TEXT': 'incretin'},C1562292
3,trichostatin A,"('CHEBI', 'CHEBI:46024')","{'PUBCHEM': '444732', 'CHEBI': 'CHEBI:46024', ...",C1418880
4,--epigallocatechin 3-gallate,"('CHEBI', 'CHEBI:4806')","{'PUBCHEM': '65064', 'CHEBI': 'CHEBI:4806', 'C...",C0059438
5,ROS1,"('HGNC', '10261')","{'UP': 'P08922', 'EGID': '6098', 'MESH': 'C062...",C0073591

In [43]:
save_df = save_df[save_df['cui'] != 0]
save_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2512 entries, 0 to 11792
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   agent_name     2512 non-null   object
 1   grounding      2512 non-null   object
 2   other_mapping  2512 non-null   object
 3   cui            2512 non-null   object
dtypes: object(4)
memory usage: 98.1+ KB

In [44]:
save_df.head()

,agent_name,grounding,other_mapping,cui
0,gene encoding SERCA2a,"(None, None)",{'TEXT': 'gene encoding SERCA2a'},C0017337
2,incretin,"(None, None)",{'TEXT': 'incretin'},C1562292
3,trichostatin A,"('CHEBI', 'CHEBI:46024')","{'PUBCHEM': '444732', 'CHEBI': 'CHEBI:46024', ...",C1418880
4,--epigallocatechin 3-gallate,"('CHEBI', 'CHEBI:4806')","{'PUBCHEM': '65064', 'CHEBI': 'CHEBI:4806', 'C...",C0059438
5,ROS1,"('HGNC', '10261')","{'UP': 'P08922', 'EGID': '6098', 'MESH': 'C062...",C0073591

In [45]:
save_df.to_csv('reach_bio_mapping.tsv', sep='\t', index=False)