In [1]:
import pandas as pd
import numpy as np

Notebook to read machine read predications and output

In [2]:
reach = pd.read_csv('predication_files/kratom_pmid_all_predicates_umls.tsv', sep='\t')
df_new = pd.DataFrame()

In [3]:
reach.head()

,seq,pmid,subject_cui,subject_name,subject_type,subject_source,subj_map_reach,predicate,object_source,object_cui,...,object_type,obj_map_reach,belief,sentence,year,subject_score,object_score,umls_flag,subj_reach_grounding,obj_reach_grounding
0,0,9545295,C0033684,Proteins,"['aapp', 'bacs']",AATP1 gene product,{'TEXT': 'AATP1 gene product'},Activation,ATP/ADP\ntransporter,C2744579,...,"['aapp', 'enzy']",{'TEXT': 'ATP/ADP\ntransporter'},0.65,"The analysis of both,\ntopological arrangement...",1998 Apr 17,6.91,12.94,1,"(None, None)","(None, None)"
1,1,9545295,C0596902,Membrane_Transport_Proteins,"['aapp', 'bacs']",ATP/ADP transporter,{'TEXT': 'ATP/ADP transporter'},Activation,ATP,C2744579,...,"['aapp', 'enzy']","{'HMDB': 'HMDB0000538', 'PUBCHEM': '5957', 'CH...",0.65,ATP import into all types of plastids is media...,1998 Apr 17,13.09,14.64,1,"(None, None)","('CHEBI', 'CHEBI:15422')"
2,2,17628447,C0001473,Adenosine_Triphosphatases,"['aapp', 'enzy']",ATPase,"{'PF': 'PF06745', 'TEXT': 'ATPase'}",Activation,ATP,C2744579,...,"['aapp', 'enzy']","{'HMDB': 'HMDB0000538', 'PUBCHEM': '5957', 'CH...",0.65,Proton translocation is crucial in maintaining...,2007 Sep,17.80,14.64,1,"(None, None)","('CHEBI', 'CHEBI:15422')"
3,3,29966288,C3816745,1+,['fndg'],AtPHT5;1,{'TEXT': 'AtPHT5;1'},Activation,SERPINA1,C0429863,...,['fndg'],"{'UP': 'P01009', 'TEXT': 'Pi', 'HGNC': '8941',...",0.65,The authors found that AtPHT5;1 mediated Pi in...,2018 Jun 29,5.18,5.18,1,"(None, None)","('HGNC', '8941')"
4,4,23773766,C0795974,Hereditary_macular_epidermolysis_bullosa,['dsyn'],EBM-2,{'TEXT': 'EBM-2'},Activation,RBEC barrier,C1706912,...,['medd'],{'TEXT': 'RBEC barrier'},0.65,Experimentally determined hydrodynamic radii a...,2013 Jun 18,13.14,3.68,1,"(None, None)","(None, None)"

In [4]:
df_new['subject_name'] = reach.subject_name
df_new['subject_cui'] = reach.subject_cui
df_new['subject_source'] = reach.subject_source
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511 entries, 0 to 510
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subject_name    445 non-null    object
 1   subject_cui     445 non-null    object
 2   subject_source  491 non-null    object
dtypes: object(3)
memory usage: 12.1+ KB

In [5]:
df2 = pd.DataFrame()
df2['subject_name'] = reach.object_name
df2['subject_cui'] = reach.object_cui
df2['subject_source'] = reach.object_source
df_new = df_new.append(df2)

In [6]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1022 entries, 0 to 510
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subject_name    895 non-null    object
 1   subject_cui     895 non-null    object
 2   subject_source  985 non-null    object
dtypes: object(3)
memory usage: 31.9+ KB

In [7]:
df_new = df_new.drop_duplicates()
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 409 entries, 0 to 510
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subject_name    361 non-null    object
 1   subject_cui     361 non-null    object
 2   subject_source  408 non-null    object
dtypes: object(3)
memory usage: 12.8+ KB

In [8]:
df_new = df_new[pd.isna(df_new['subject_cui']) == False]
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 361 entries, 0 to 510
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subject_name    361 non-null    object
 1   subject_cui     361 non-null    object
 2   subject_source  361 non-null    object
dtypes: object(3)
memory usage: 11.3+ KB

In [9]:
df_new.head()

                               subject_name subject_cui       subject_source
0                                  Proteins    C0033684   AATP1 gene product
1               Membrane_Transport_Proteins    C0596902  ATP/ADP transporter
2                 Adenosine_Triphosphatases    C0001473               ATPase
3                                        1+    C3816745             AtPHT5;1
4  Hereditary_macular_epidermolysis_bullosa    C0795974                EBM-2

In [10]:
result = {}

In [11]:
def add_to_dict(row):
    result[row['subject_source']] = row['subject_cui']

In [12]:
df_new.apply(add_to_dict, axis=1)

0      None
1      None
2      None
3      None
4      None
       ...
484    None
496    None
503    None
504    None
510    None
Length: 361, dtype: object

In [13]:
len(result)

352

In [15]:
def get_cui(row):
    name= row['agent_name']
    if name in result:
        return result[name]
    else:
        return 0

In [16]:
reach.head()

,seq,pmid,subject_cui,subject_name,subject_type,subject_source,subj_map_reach,predicate,object_source,object_cui,...,object_type,obj_map_reach,belief,sentence,year,subject_score,object_score,umls_flag,subj_reach_grounding,obj_reach_grounding
0,0,9545295,C0033684,Proteins,"['aapp', 'bacs']",AATP1 gene product,{'TEXT': 'AATP1 gene product'},Activation,ATP/ADP\ntransporter,C2744579,...,"['aapp', 'enzy']",{'TEXT': 'ATP/ADP\ntransporter'},0.65,"The analysis of both,\ntopological arrangement...",1998 Apr 17,6.91,12.94,1,"(None, None)","(None, None)"
1,1,9545295,C0596902,Membrane_Transport_Proteins,"['aapp', 'bacs']",ATP/ADP transporter,{'TEXT': 'ATP/ADP transporter'},Activation,ATP,C2744579,...,"['aapp', 'enzy']","{'HMDB': 'HMDB0000538', 'PUBCHEM': '5957', 'CH...",0.65,ATP import into all types of plastids is media...,1998 Apr 17,13.09,14.64,1,"(None, None)","('CHEBI', 'CHEBI:15422')"
2,2,17628447,C0001473,Adenosine_Triphosphatases,"['aapp', 'enzy']",ATPase,"{'PF': 'PF06745', 'TEXT': 'ATPase'}",Activation,ATP,C2744579,...,"['aapp', 'enzy']","{'HMDB': 'HMDB0000538', 'PUBCHEM': '5957', 'CH...",0.65,Proton translocation is crucial in maintaining...,2007 Sep,17.80,14.64,1,"(None, None)","('CHEBI', 'CHEBI:15422')"
3,3,29966288,C3816745,1+,['fndg'],AtPHT5;1,{'TEXT': 'AtPHT5;1'},Activation,SERPINA1,C0429863,...,['fndg'],"{'UP': 'P01009', 'TEXT': 'Pi', 'HGNC': '8941',...",0.65,The authors found that AtPHT5;1 mediated Pi in...,2018 Jun 29,5.18,5.18,1,"(None, None)","('HGNC', '8941')"
4,4,23773766,C0795974,Hereditary_macular_epidermolysis_bullosa,['dsyn'],EBM-2,{'TEXT': 'EBM-2'},Activation,RBEC barrier,C1706912,...,['medd'],{'TEXT': 'RBEC barrier'},0.65,Experimentally determined hydrodynamic radii a...,2013 Jun 18,13.14,3.68,1,"(None, None)","(None, None)"

In [17]:
df = pd.DataFrame()
df['agent_name'] = reach.subject_source
df['grounding'] = reach.subj_reach_grounding
df['mapping'] = reach.subj_map_reach

In [18]:
dfo = pd.DataFrame()
dfo['subject_name'] = reach.object_source
dfo['subject_cui'] = reach.obj_reach_grounding
dfo['subject_source'] = reach.subj_map_reach
df = df.append(dfo)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1022 entries, 0 to 510
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   agent_name      491 non-null    object
 1   grounding       511 non-null    object
 2   mapping         511 non-null    object
 3   subject_name    494 non-null    object
 4   subject_cui     511 non-null    object
 5   subject_source  511 non-null    object
dtypes: object(6)
memory usage: 55.9+ KB

In [20]:
df['cui'] = df.apply(get_cui, axis=1)

In [21]:
df.head()

,agent_name,grounding,mapping,subject_name,subject_cui,subject_source,cui
0,AATP1 gene product,"(None, None)",{'TEXT': 'AATP1 gene product'},NaN,NaN,NaN,C0033684
1,ATP/ADP transporter,"(None, None)",{'TEXT': 'ATP/ADP transporter'},NaN,NaN,NaN,C0596902
2,ATPase,"(None, None)","{'PF': 'PF06745', 'TEXT': 'ATPase'}",NaN,NaN,NaN,C0001473
3,AtPHT5;1,"(None, None)",{'TEXT': 'AtPHT5;1'},NaN,NaN,NaN,C3816745
4,EBM-2,"(None, None)",{'TEXT': 'EBM-2'},NaN,NaN,NaN,C0795974

In [22]:
df.head()

,agent_name,grounding,mapping,subject_name,subject_cui,subject_source,cui
0,AATP1 gene product,"(None, None)",{'TEXT': 'AATP1 gene product'},NaN,NaN,NaN,C0033684
1,ATP/ADP transporter,"(None, None)",{'TEXT': 'ATP/ADP transporter'},NaN,NaN,NaN,C0596902
2,ATPase,"(None, None)","{'PF': 'PF06745', 'TEXT': 'ATPase'}",NaN,NaN,NaN,C0001473
3,AtPHT5;1,"(None, None)",{'TEXT': 'AtPHT5;1'},NaN,NaN,NaN,C3816745
4,EBM-2,"(None, None)",{'TEXT': 'EBM-2'},NaN,NaN,NaN,C0795974

In [23]:
save_df = pd.DataFrame()
save_df['agent_name'] = df['agent_name']
save_df['grounding'] = df['grounding']
save_df['other_mapping'] = df['mapping']
save_df['cui'] = df['cui']
save_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1022 entries, 0 to 510
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   agent_name     491 non-null    object
 1   grounding      511 non-null    object
 2   other_mapping  511 non-null    object
 3   cui            1022 non-null   object
dtypes: object(4)
memory usage: 39.9+ KB

In [24]:
save_df = save_df.drop_duplicates()

In [25]:
save_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239 entries, 0 to 0
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   agent_name     234 non-null    object
 1   grounding      238 non-null    object
 2   other_mapping  238 non-null    object
 3   cui            239 non-null    object
dtypes: object(4)
memory usage: 9.3+ KB

In [26]:
save_df.head()

,agent_name,grounding,other_mapping,cui
0,AATP1 gene product,"(None, None)",{'TEXT': 'AATP1 gene product'},C0033684
1,ATP/ADP transporter,"(None, None)",{'TEXT': 'ATP/ADP transporter'},C0596902
2,ATPase,"(None, None)","{'PF': 'PF06745', 'TEXT': 'ATPase'}",C0001473
3,AtPHT5;1,"(None, None)",{'TEXT': 'AtPHT5;1'},C3816745
4,EBM-2,"(None, None)",{'TEXT': 'EBM-2'},C0795974

In [27]:
save_df = save_df[save_df['cui'] != 0]
save_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204 entries, 0 to 510
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   agent_name     204 non-null    object
 1   grounding      204 non-null    object
 2   other_mapping  204 non-null    object
 3   cui            204 non-null    object
dtypes: object(4)
memory usage: 8.0+ KB

In [28]:
save_df.head()

,agent_name,grounding,other_mapping,cui
0,AATP1 gene product,"(None, None)",{'TEXT': 'AATP1 gene product'},C0033684
1,ATP/ADP transporter,"(None, None)",{'TEXT': 'ATP/ADP transporter'},C0596902
2,ATPase,"(None, None)","{'PF': 'PF06745', 'TEXT': 'ATPase'}",C0001473
3,AtPHT5;1,"(None, None)",{'TEXT': 'AtPHT5;1'},C3816745
4,EBM-2,"(None, None)",{'TEXT': 'EBM-2'},C0795974

In [29]:
save_df.to_csv('reach_bio_mappingv2.tsv', sep='\t', index=False)